
.economic {

    .industry-one {
        color: #ddd;
        display: flex;
        text-align: center;
        padding: 20px 12px;
        &-item {
            flex: 1;
            background-color: rgba(47, 238, 226, 0.03);
            margin: 0 12px;
            position: relative;
        }
        &-title {
            color: $text-color;
            font-weight: bold;
            // box-shadow: 0px 0px 13px rgba($theme-color, 0.13);
            background-color: rgba(30, 255, 60, 0.08);
            height: 30px;
            line-height: 30px;
        }
        &-val {
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            color: $text-white-color;
        }
    }

    .industry-two {
        color: $text-color;
        display: flex;
        flex-direction: column;
        &-item {
            display: flex;
            align-items: center;
            padding: 6px 12px;
            border-bottom: 0.5px solid rgba($theme-color, 0.15);
        }
        &-circular {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
        &-pre {
            width: 60px;
            color: #6a1;
        }
        &-title {
            flex: 1;
            color: darken($text-color, 15%);
            font-weight: bold;
        }
        &-val {
            width: 120px;
            text-align: right;
            color: darken($text-color, 4%);
            font-weight: bold;
        }
    }

    .industry-three {
        display: flex;
        align-items: center;
        &-item {
            flex: 1;
            padding: 20px;
            position: relative;

            > h4 {
                text-align: center;
                margin: 0;
                color: $text-color;
                margin-top: 8px;
            }

            .line {
                position: absolute;
                bottom: 80px;
                left: 50%;
                transform: translateX(-50%);
                width: 40px;
                height: 2px;
                background-color: rgba(30, 255, 60, 0.12);
            }
        }
    }

    .mark-title {
        color: $text-color;
        margin: 12px 0 0 26px;
        font-size: 13px;
        position: relative;
        display: block;
        .dot {
            display: block;
            position: absolute;
            width: 3px;
            height: 3px;
            border-radius: 100%;
            background-color: $text-color;
            top: 9px; left: -11px;
            z-index: 2;
        }
    }
}
