
.profittrend {
    padding: 2px 6px 10px;
    margin: 0 auto;

    .header {
        display: flex;
        align-items: center;
        padding: 12px;
        box-sizing: border-box;

        &-icon {
            width: 50px;
            height: 50px;
            background-color: rgba(47, 238, 226, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            margin-bottom: 4px;
            border: 0.5px solid rgba($theme-color, 0.15);
            > img {
                width: 67%;
            }
        }
        &-left, &-right {
            color: $text-color;
        }
        &-pre {
            flex: 1;
            display: flex;
            margin: 0 12px;
            flex-direction: column;
            justify-items: center;
            &-line {
                flex: 1;
                justify-content: space-between;
                display: flex;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 2px;
                overflow: hidden;
                > div {
                    height: 18px;
                    line-height: 18px;
                    background-color: rgba($theme-color, 0.8);
                    text-align: center;
                    font-size: 13px;
                    font-weight: bold;
                    &:first-of-type {
                        background-color: darken($theme-color, 20%);
                    }
                }
            }
            > p {
                text-align: center;
                color: $text-color;
                margin: 0;
                margin-top: 4px;
                font-size: 14px;
            }
        }
    }

    .dataview {
        display: flex;
        align-items: center;
    }

    .table {
        flex: 1.35;
        &-title {
            color: $text-light-color;
            padding-left: 12px;
            font-size: 17.55px;
            margin: 0;
            margin-bottom: 4px;
        }
        &-panel {
            border: 0.5px solid rgba($theme-color, 0.12);
            flex: 1;
            margin: 0 8px;
        }
        &-row {
            display: flex;
            color: $text-color;
            border-bottom: 0.5px solid rgba($theme-color, 0.15);
            &:first-of-type {
                border-radius: 2px 2px 0 0;
                // color: #222;
                // background-color: darken($theme-color, 12%);
                background-color: rgba(12, 13, 11, 0.24);
                font-weight: bold;
                font-size: 15px;
                color: $theme-color;
                border: none;
            }
            &:last-of-type {
                border-radius: 0 0 2px 2px;
                border: none;
            }

            > span, > div {
                flex: 1;
                align-items: center;
                padding: 2px 8px;
                font-size: 14px;
            }
            > div {
                display: flex;
                align-items: center;
                > span {
                    width: 40px;
                }
                > img {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }

    .devote {
        flex: 1;
        margin: 0 10px;
        &-title {
            color: $text-light-color;
            margin: 0;
            font-size: 17.55px;
        }
        &-text {
            margin-bottom: 1px;
            font-size: 13px;
            color: $text-color;
            > span:last-of-type {
                float: right;
            }
        }
        &-item {
            margin-top: 1px;
        }
        &-line {
            height: 9px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            overflow: hidden;
            > div {
                border-radius: 5px;
                height: 100%;
                background-color: $theme-color;
            }
        }
    }
}