
$app-width: 1440px;
$app-height: 800px;
$app-color: #252525;

$theme-color: #0ff7ab;

$navigation-height: 30px;
$navigation-color: transparent;

$text-light-color: $theme-color;
$text-color: lighten(#44827f, 15%);
$text-white-color: rgba(255, 255, 255, 0.75);


